body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
  }
  
  .skills-title {
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .skill {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skill-logo {
    max-width: 50px;
    height: auto;
  }
  
  .skill-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  