body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.section--title {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.skills--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.skills--section--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}

.skills--section--card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills--section--card--content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.skills--section--title {
  font-size: 1.3em;
  color: #006b6a;
  margin: 0;
}

.skills--section--description {
  font-size: 0.8em;
  color: #666;
  margin: 0;
  line-height: 1.5;

}
.skill-logo {
  flex-shrink: 0;
 
}


.skill-logo img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 8px;

}

@media (min-width: 768px) {
  .skills--section--container {
    grid-template-columns: 1fr 1fr;
  }
}
